.login-button {
    padding: 12px 24px;
    background-color: #415A77;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;

    .login-button:hover {
        background-color: black;
        transform: scale(1.05);
    }

    .login-button:active {
        transform: scale(0.97);
    }
}

//*otro boton

.form-button {
    width: 100%;
    padding: 14px;
    background-color: #4f46e5;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    .form-button:hover {
        background-color: #3730a3;
        transform: scale(1.02);
    }
    
    .form-button:active {
        transform: scale(0.97);
    }
}

//*otro boton

.register-input:focus{
    outline: none;
  border-color: #00ffff;
  }

  .register-button{
    width: 100%;
  padding: 10px;
  background-color: #00ffff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  .register-button:hover{
    background-color: #00d1d1;
  }
  }
