#banner {
    background-color: var(--maincolor);
    color: var(--main-text-color);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 152px;

    .nav-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;

        a {
            padding: 10px;
        }
    }

    .img-logo {
        width: 150px;
        height: 152px;
    }
}

.header {
    grid-area: header;
}