.main-buzos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {

        width: 270px;
        height: 270px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .producto {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;

        img {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    span {
        font-size: 14px;
        color: #555;
    }
    }

    .precio {
        margin-top: 20px;
        font-size: 16px;
        color: #000;
        line-height: 1.4;
    }

}