.main-contacto {
    display: flex;

    section {
        padding: 40px;
        justify-content: left;
    }

    form {
        text-align: center;
    }

    h1 {
        padding: 30px;
        font-size: 50px;
    }

    p {
        padding: 30px;
        font-size: 20px;
    }

    div {
        padding: 30px;
        font-size: 20px;
    }
}

.custom-form {
    background-color: #0D1B2A;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        color: #E0E1DD;
    }
}

.info-box {
  background-color: #0d1b2a; 
  color: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  float: right;
  margin: 20px;
  font-family: Arial, sans-serif;
  height: 350px;
}

.info-box h3 {
  margin-top: 0;
  color: #ffffff;
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 5px;
}

.info-box a {
  color: #4dabf7;
  text-decoration: none;
}

.info-box a:hover {
  text-decoration: underline;
}